<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Casting Agency</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
      <div class="container" style="font-size:20px;" >
          <a class="navbar-brand" href="#">Casting Agency</a>
          <a class="nav-link" href="https://alshammari.us.auth0.com/authorize?audience=casting&response_type=token&client_id=MriSe1vWVh81zznoCRVkMkAuNe0Pj7x7&redirect_uri=http://127.0.0.1:5000/callback" >LOG-IN</a>
      </div>
    </nav>


    <div class="container">
      <div class="text-center features-boxed">
        <div class="container">
          <div class="intro">
            <br>            <br>
            <br>

            <h2 class="display-4 text-monospace text-center text-info shadow-none">
              Casting Agency<br />
            </h2>
            <br/><br/>
            <p class="text-center" >
              The Casting Agency models a company that is responsible for creating movies and managing and assigning actors to those movies. You are an Executive Producer within the company and are creating a system to simplify and streamline your process.<br/>
            </p>
            <br/>


            <div id = "deck " >
            <div class="card-deck d-flex justify-content-center">
            <div id ="card bg-ligh" >

                <div class="col-md-3" style="margin-left: 100px; margin-top: 40px;" ></div>
                <div class="card  text-white bg-ligh" style="width: 18rem;height: 90%;"> 
                <div class="card-body">
                <h5 class="card-title" style="color: rgb(86, 125, 253);" id = "name">Casting Assistant</h5>
                <P class="card-title" id = "disc">Can view actors and movies</p>
                
                <P class="card-title" style="color: rgb(86, 125, 253);" id = "email">E-mail:</p>
                <P class="card-title" id = "email">assistant@test.com</p>

                <p class="card-text" style="color: rgb(86, 125, 253);" id = "password">Password:</p>
                <p class="card-text" id = "password">test@1234</p>

                </div>
                </div>
            
            
              </div>

              <div id ="card bg-ligh">

                <div class="col-md-3" style="margin-left: 100px; margin-top: 40px;" ></div>
                <div class="card  text-white bg-ligh" style="width: 18rem; height: 90%;"> 
                <div class="card-body">
                <h5 class="card-title" style="color: rgb(86, 125, 253);" id = "name">Casting Director</h5>
                <P class="card-title" id = "disc">Can view actors and movies, Add or delete an actor from the database, Modify actors or movies</p>
                
                <P class="card-title" style="color: rgb(86, 125, 253);" id = "email">E-mail:</p>
                <P class="card-title" id = "email">director@test.com</p>

                <p class="card-text" style="color: rgb(86, 125, 253);" id = "password">Password:</p>
                <p class="card-text" id = "password">test@1234</p>

                </div>
                </div>
            
            
              </div>


              <div id ="card bg-ligh" >

                <div class="col-md-3" style="margin-left: 100px; margin-top: 40px;" ></div>
                <div class="card  text-white bg-ligh" style="width: 18rem; height: 90%;"> 
                <div class="card-body">
                <h5 class="card-title" style="color: rgb(86, 125, 253);" id = "name">Executive Producer</h5>
                <P class="card-title" id = "disc">Can view actors and movies, Add or delete an actor from the database, Modify actors or movies, Add or delete a movie from the database</p>
                
                <P class="card-title" style="color: rgb(86, 125, 253);" id = "email">E-mail:</p>
                <P class="card-title" id = "email">producer@test.com</p>

                <p class="card-text" style="color: rgb(86, 125, 253);" id = "password">Password:</p>
                <p class="card-text" id = "password">test@1234</p>

                </div>
                </div>
            
            
              </div>
              



              </div>
            </div>

             
  
          </div>
        </div>
  
  
  
      </div>
      </div>

  </body>
</html>
